.Terms-and-Conditions h2{
    margin-left: 65px;
    margin-top: 70px;
    font-size: 30px;
    font-style: inherit;
    font-weight: inherit;
    text-transform: uppercase;
}
.Terms-and-Conditions{
  
    margin-top: 20px;
    height: fit-content;
}
.Terms-and-Conditions p{
    position: relative;
    margin-top: 30px;
    margin-bottom: 40px;
    right: 310px;
    font-size: 15px;
    width: 93%;
}
.Terms-and-Conditions h5{
    font-weight: bold;
   
    margin-left: 70px;
    margin-top: 50px;
    font-size: 18px;
}